<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container"></div>
    <form id="form">
        <input type="text" name="query" placeholder="Type in phrase to get color palette">
        <button type="submit" class="btn">Submit</button>
    </form>
    <script src="app.js"></script>
</body>
</html>